<div id="welcometext" style="margin: 0;">
	<div>
		<p class="header_text">What are you in<br>the mood for today?</p>
	</div>
	<div class="dailychoice_container" >
		<img class="dailychoice" src="/icons/btn-dailychoice-activities.png" ontouchend="goto_activity()">
	</div>
	<br>
	<div class="dailychoice_container" style="display:block;">
		<img class="dailychoice" src="/icons/btn-dailychoice-eatingout.png"  ontouchend="goto_eatingout()">
	</div>
	<br>
	<div class="dailychoice_container" style="display:block;">
		<img class="dailychoice" src="/icons/btn-dailychoice-cooking.png"    ontouchend="goto_cooking()">
	</div>
	<br>
</div>
