<div id="welcometext" style="margin: 0;">
	<div>
		<p class="header_text">Eating Out</p>
	</div>
	<div class="choice_container" id="eatout_container" style="background-image: url('/icons/picture-eatingout1.png');">
	</div>
	<br><br>
	<div class="bottom_container">
		<img class="arrow_left"         src="/icons/btn-arrow-left.png"   onclick="change_eating()">
		<img class="do_it" id="eat_it"  src="/icons/btn-goeat.png">
		<img class="arrow_right"        src="/icons/btn-arrow-right.png"  onclick="change_eating()">
	</div>
</div>